<html>

<head>
  <title>
    AstroDemo
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

</head>

<body>
  <h1>HYDRA AstroDemo</h1>
  <h4>Satellite Assemblying with Smart Clients</h4>

  <form method="post">
    url:
    <input type="text">
    <input type="submit" , value="Connect"> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; query:
    <input type="text">
    <input type="submit" , value="Run">
  </form>
  <br>
  <br> ENDPOINTS:
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that
      you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>
  <br>
  <br>

  <table style="width:30%">
    <tr>
      <th>put endpoints here</th>
    </tr>
    <tr>
      <th>endpoint1</th>
    </tr>
    <tr>
      <th>endpoint2</th>
    </tr>
    <tr>
      <th>endpoint3</th>
    </tr>
  </table>

  <p align="center">
    OutPut
  </p>
</body>

</html>